<header>
  <div class="content">
    <div class="logo-container">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1438.15 421.17" preserveAspectRatio="xMidYMin meet">
        <title>Dash Logo</title>

        <path class="cls-1" d="M312.66,26.11H147.23l-13.71,76.63,149.28.18c73.52,0,95.26,26.69,94.64,71-.32,22.7-10.16,61.07-14.41,73.51-11.33,33.16-34.6,71-121.86,70.85l-145.11-.06L82.32,394.88H247.38c58.22,0,83-6.77,109.2-18.89,58.13-26.84,92.72-84.21,106.57-159.08C483.79,105.42,458.09,26.11,312.66,26.11Z"></path>
        <path class="cls-1" d="M824.28,395.06l11.66-66.63H977.26c11.1,0,18.88-6.67,20.54-17.77,2.22-11.11-3.33-17.77-14.43-17.77H915.8c-53.31,0-78.85-31.09-69.41-84.4s46.09-84.39,99.39-84.39h153.53l-12.21,66.63H951.79c-11.11,0-18.88,6.66-20.55,17.76-2.22,11.11,3.33,17.77,14.44,17.77h67.57c53.3,0,78.84,31.1,69.41,84.4s-45.54,84.4-98.84,84.4Z"></path>
        <path class="cls-1" d="M609.06,395.05c-87.74,0-127.17-47.76-111.62-135.5,15-87.73,71.64-135.49,159.37-135.49H812.3l-47.76,271ZM710.12,190.7h-40c-47.75,0-76,21.1-84.29,68.85-8.88,47.76,8.89,68.86,56.64,68.86h43.76Z"></path>
        <path class="cls-1" d="M1292,395.05l27.77-157.71c5-31.1-7.62-44.42-38.72-44.42h-44.22l-35.54,202.13h-90l65.07-368.94h90l-17.32,98h67.4c78.85,0,107.17,34.43,93.29,113.28l-27.77,157.71Z"></path>
        <path class="cls-1" d="M75.85,172c-43.33,0-49.54,28.24-53.64,45.3-5.37,22.35-7.13,31.4-7.13,31.4H184.46c43.33,0,49.54-28.24,53.64-45.3,5.37-22.35,7.13-31.4,7.13-31.4Z"></path>
      </svg>
    </div>
    <div class="header-container">
      <div class="button-container">
        <div class="button"><a href="#">Documentation</a></div>
        <div class="button"><a href="#">Platform</a></div>
        <div class="button"><a href="#">Community</a></div>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="blue-color">
    <div class="content">
      <div class="info-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad dicta dolore laudantium, nostrum odio officia omnis, perspiciatis quibusdam, tempora tenetur vero. Ab architecto eveniet laudantium maxime quia similique voluptatum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto asperiores autem, commodi consectetur, distinctio et facilis id magnam magni nobis non possimus recusandae repellat temporibus vel vero voluptates voluptatum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eligendi expedita maiores nihil officia officiis provident quam quos! Architecto, consequuntur minima. Debitis dolor dolores earum enim labore modi odit unde.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores, atque autem, culpa delectus dicta excepturi expedita iste magni modi nesciunt quos rem repellat repellendus suscipit unde ut, velit voluptatibus.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad dicta dolore laudantium, nostrum odio officia omnis, perspiciatis quibusdam, tempora tenetur vero. Ab architecto eveniet laudantium maxime quia similique voluptatum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto asperiores autem, commodi consectetur, distinctio et facilis id magnam magni nobis non possimus recusandae repellat temporibus vel vero voluptates voluptatum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda eligendi expedita maiores nihil officia officiis provident quam quos! Architecto, consequuntur minima. Debitis dolor dolores earum enim labore modi odit unde.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores, atque autem, culpa delectus dicta excepturi expedita iste magni modi nesciunt quos rem repellat repellendus suscipit unde ut, velit voluptatibus.
        </p>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="OS-buttons-container">
      <a><div class="OS-buttons">Windows</div></a>
      <a><div class="OS-buttons">Linux</div></a>
      <a><div class="OS-buttons">Mac</div></a>
    </div>
  </div>
  <div class="content">
    <div class="explain-block">
    <h3>What is Dashmate?</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta expedita fuga laboriosam minus quasi, quis sed ullam? Adipisci aliquam animi aspernatur earum possimus quam sapiente vel velit voluptates! Dolor, numquam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci atque corporis deleniti dolorum ipsa labore neque nisi odit quae, quis ratione, totam ullam ut voluptates. Enim esse illum in.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, consequuntur deserunt earum error ex explicabo fugiat illo impedit in incidunt maiores nostrum odio perspiciatis qui repellendus, rerum veniam vero! Vitae?
      </p>
    </div>
  </div>
  <div class="content">
    <div class="video-block">
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nNpvWBuTfrc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="text-container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut est id non ratione repellat tempora vero. Dolorum molestiae perspiciatis sunt vitae. Assumenda dignissimos ipsam maiores quae quaerat quidem, sequi tempora.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dignissimos dolorem hic mollitia nisi odit porro vitae? Dolorum ea, in, maxime minus porro praesentium provident, quos soluta totam voluptas voluptatibus.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis consequuntur delectus dolorem et explicabo facilis fugit iure nemo pariatur provident quam quibusdam sapiente sunt, tempora, unde veniam vero voluptas!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi dolorem dolorum ea eligendi eveniet ex illo iste iure, laboriosam libero modi nam nihil nulla quae quibusdam quisquam repellat tenetur.
        </p>
      </div>
    </div>
  </div>

  <div class="adaptive-img">
    <img  src="https://phantom-marca.unidadeditorial.es/9583cf5383635e0619a0e23799daaf8d/crop/0x0/2041x1150/resize/660/f/webp/assets/multimedia/imagenes/2022/01/07/16415655339687.jpg" alt="crypto photo">
  </div>

  <div class="content">
    <div class="video-block">
      <div class="text-container">
        <li> <angular-emojis [name]="'juggling'" size="15"> </angular-emojis> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut autem debitis distinctio dolore, dolorem enim eveniet exercitationem expedita facere laudantium magnam mollitia nam optio possimus quae saepe, ullam voluptatibus.</li>
        <li> <angular-emojis [name]="'newspaper'" size="15"> </angular-emojis> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum ducimus eum fugiat hic illo magnam, necessitatibus nulla pariatur quidem! Ad alias aliquam dolore exercitationem, minus mollitia nesciunt perspiciatis voluptatem.</li>
        <li> <angular-emojis [name]="'fast_forward'" size="15"> </angular-emojis> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti doloremque eius, enim excepturi explicabo fuga fugit mollitia numquam officia perspiciatis quidem soluta sunt tempora ullam! Accusamus excepturi, pariatur. Illo.</li>
        <li> <angular-emojis [name]="'butterfly'" size="15"> </angular-emojis> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda deleniti, distinctio eaque enim est facilis laborum laudantium, neque nulla odio reiciendis ut! Autem ea hic magnam minus quod repellendus?</li>
        <li> <angular-emojis [name]="'symbols'" size="15"> </angular-emojis> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur dolorem dolorum harum incidunt inventore magni molestiae placeat quas qui quisquam quos reiciendis repellat sint tempora, tenetur, vel velit voluptas.</li>
        <li> <angular-emojis [name]="'mag'" size="15"> </angular-emojis> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ea, facere id, in ipsam ipsum maiores molestiae qui quia quidem quisquam sed vero voluptatem voluptates voluptatibus. Cupiditate dolores iure nulla?</li>
        <li> <angular-emojis [name]="'rocket'" size="15"> </angular-emojis> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae debitis dicta dignissimos, ipsam laborum molestiae molestias natus nesciunt nobis, perspiciatis quos sequi totam veniam voluptatem. Assumenda corporis obcaecati sequi!</li>
      </div>
        <div class="video-container">
          <div class="img-container">
            <img src="https://phantom-marca.unidadeditorial.es/9583cf5383635e0619a0e23799daaf8d/crop/0x0/2041x1150/resize/660/f/webp/assets/multimedia/imagenes/2022/01/07/16415655339687.jpg" alt="crypto photo">
          </div>
        </div>
      </div>
  </div>
  <div class="content">
    <div class="footer-block">
      <p>
        Some github stuff, stars, likes, etc we will grab this straight from GH
      </p>
    </div>
  </div>
</main>
